Import the required libraries

In [27]:
import pandas as pd
import numpy as np
from plotnine import *
from plotnine.data import mpg

Read the data using pd.read_csv and pass header files

In [2]:
data= pd.read_csv("data_csv.csv",header=None,names=['Number of times pregnant',
'Plasma glucose concentration',
'Diastolic blood pressure (mm Hg)',
'Triceps skinfold thickness (mm)',
'2-Hour serum insulin (mu U/ml)',
'Body mass index (weight in kg/(height in m)^2)',
'Diabetes pedigree function',
'Age (years)',
'Class variable (0 or 1)'
])

In [3]:
data.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Check for any null values in the data

In [4]:
data.isnull().sum()

Number of times pregnant                          0
Plasma glucose concentration                      0
Diastolic blood pressure (mm Hg)                  0
Triceps skinfold thickness (mm)                   0
2-Hour serum insulin (mu U/ml)                    0
Body mass index (weight in kg/(height in m)^2)    0
Diabetes pedigree function                        0
Age (years)                                       0
Class variable (0 or 1)                           0
dtype: int64

The data is clean.So no need to impute /remove the null values.

Calculate the mean for every column.

In [5]:
data.mean()

Number of times pregnant                            3.845052
Plasma glucose concentration                      120.894531
Diastolic blood pressure (mm Hg)                   69.105469
Triceps skinfold thickness (mm)                    20.536458
2-Hour serum insulin (mu U/ml)                     79.799479
Body mass index (weight in kg/(height in m)^2)     31.992578
Diabetes pedigree function                          0.471876
Age (years)                                        33.240885
Class variable (0 or 1)                             0.348958
dtype: float64

Function to get mean of columns in the data and display the result as table

In [6]:
def calc_mean(data_cal):
    from prettytable import PrettyTable
    t = PrettyTable(['Name', 'Mean'])
    datatype=['int16','int32','int64','float16','float32','float64']
    data_cal.dropna()
    data_cal= data_cal.select_dtypes(include=datatype)
    res=[]
    for col in data_cal:
        li=data_cal[col].tolist()
        t.add_row([col,sum(li)/len(li)])
        res.append([col,sum(li)/len(li)])
    print(t)
    return res
mean_data=calc_mean(data)

+------------------------------------------------+--------------------+
|                      Name                      |        Mean        |
+------------------------------------------------+--------------------+
|            Number of times pregnant            | 3.8450520833333335 |
|          Plasma glucose concentration          |    120.89453125    |
|        Diastolic blood pressure (mm Hg)        |    69.10546875     |
|        Triceps skinfold thickness (mm)         | 20.536458333333332 |
|         2-Hour serum insulin (mu U/ml)         | 79.79947916666667  |
| Body mass index (weight in kg/(height in m)^2) | 31.992578124999977 |
|           Diabetes pedigree function           | 0.4718763020833327 |
|                  Age (years)                   | 33.240885416666664 |
|            Class variable (0 or 1)             | 0.3489583333333333 |
+------------------------------------------------+--------------------+

Calculate the standard deviation for every column in the dataset.

In [7]:
data.std()

Number of times pregnant                            3.369578
Plasma glucose concentration                       31.972618
Diastolic blood pressure (mm Hg)                   19.355807
Triceps skinfold thickness (mm)                    15.952218
2-Hour serum insulin (mu U/ml)                    115.244002
Body mass index (weight in kg/(height in m)^2)      7.884160
Diabetes pedigree function                          0.331329
Age (years)                                        11.760232
Class variable (0 or 1)                             0.476951
dtype: float64

In [10]:
def calc_std(data_cal):
    from prettytable import PrettyTable
    t = PrettyTable(['Name', 'Standard Deviation'])
    datatype=['int16','int32','int64','float16','float32','float64']
    data_cal.dropna()
    data_cal= data_cal.select_dtypes(include=datatype)
    res=[]
    for col in data_cal:
        li=data_cal[col].tolist()
        me=sum(li)/len(li)
        sd=[(x-me)**2 for x in li]
        std=np.sqrt(sum(sd)/len(li))
        t.add_row([col,std])
        res.append([col,std])
    print(t)
    return res
std_data=calc_std(data)

+------------------------------------------------+--------------------+
|                      Name                      | Standard Deviation |
+------------------------------------------------+--------------------+
|            Number of times pregnant            |   3.36738361241    |
|          Plasma glucose concentration          |   31.9517959082    |
|        Diastolic blood pressure (mm Hg)        |    19.343201629    |
|        Triceps skinfold thickness (mm)         |   15.9418286265    |
|         2-Hour serum insulin (mu U/ml)         |   115.168949265    |
| Body mass index (weight in kg/(height in m)^2) |   7.87902573154    |
|           Diabetes pedigree function           |   0.331112816029   |
|                  Age (years)                   |    11.752572646    |
|            Class variable (0 or 1)             |   0.476640760878   |
+------------------------------------------------+--------------------+

Calculate minimum and maximum for every column

In [9]:
print("Minimum:\n",data.min(axis=0))
print("Maximum:\n",data.max(axis=0))

Minimum:
 Number of times pregnant                           0.000
Plasma glucose concentration                       0.000
Diastolic blood pressure (mm Hg)                   0.000
Triceps skinfold thickness (mm)                    0.000
2-Hour serum insulin (mu U/ml)                     0.000
Body mass index (weight in kg/(height in m)^2)     0.000
Diabetes pedigree function                         0.078
Age (years)                                       21.000
Class variable (0 or 1)                            0.000
dtype: float64
Maximum:
 Number of times pregnant                           17.00
Plasma glucose concentration                      199.00
Diastolic blood pressure (mm Hg)                  122.00
Triceps skinfold thickness (mm)                    99.00
2-Hour serum insulin (mu U/ml)                    846.00
Body mass index (weight in kg/(height in m)^2)     67.10
Diabetes pedigree function                          2.42
Age (years)                                        81.00
Class variable (0 or 1)                             1.00
dtype: float64

In [11]:
def calc_max_min(data_cal):
    from prettytable import PrettyTable
    t = PrettyTable(['Name', 'Min','Max'])
    datatype=['int16','int32','int64','float16','float32','float64']
    data_cal.dropna()
    data_cal= data_cal.select_dtypes(include=datatype)
    res=[]
    for col in data_cal:
        li=data_cal[col].tolist()
        ma=max(li)
        mi=min(li)
        t.add_row([col,mi,ma])
        res.append([col,mi,ma])
    print(t)
    return res
min_max=calc_max_min(data)

+------------------------------------------------+-------+------+
|                      Name                      |  Min  | Max  |
+------------------------------------------------+-------+------+
|            Number of times pregnant            |   0   |  17  |
|          Plasma glucose concentration          |   0   | 199  |
|        Diastolic blood pressure (mm Hg)        |   0   | 122  |
|        Triceps skinfold thickness (mm)         |   0   |  99  |
|         2-Hour serum insulin (mu U/ml)         |   0   | 846  |
| Body mass index (weight in kg/(height in m)^2) |  0.0  | 67.1 |
|           Diabetes pedigree function           | 0.078 | 2.42 |
|                  Age (years)                   |   21  |  81  |
|            Class variable (0 or 1)             |   0   |  1   |
+------------------------------------------------+-------+------+

Function to create 0.25 ,0.5,0.75 percentile for every columns

In [12]:
print("0.25-Percentile is ",data.quantile(0.25,axis=0) .tolist())
print("0.50-Percentile is ",data.quantile(0.5,axis=0) .tolist())
print("0.75-Percentile is ",data.quantile(0.75,axis=0) .tolist())

0.25-Percentile is  [1.0, 99.0, 62.0, 0.0, 0.0, 27.3, 0.24375, 24.0, 0.0]
0.50-Percentile is  [3.0, 117.0, 72.0, 23.0, 30.5, 32.0, 0.3725, 29.0, 0.0]
0.75-Percentile is  [6.0, 140.25, 80.0, 32.0, 127.25, 36.6, 0.62625, 41.0, 1.0]

Function Defined to calculate the percentile

In [25]:
def calc_per(data_cal,per):
    per=float(per)
    from prettytable import PrettyTable
    t = PrettyTable(['Name', 'Percentile'])
    datatype=['int16','int32','int64','float16','float32','float64']
    data_cal.dropna()
    data_cal= data_cal.select_dtypes(include=datatype)
    res=[]
    for col in data_cal:
        li=data_cal[col].tolist()
        li.sort()
        index=int(len(li)*per)
        val=li[index]
        t.add_row([col,val])
        res.append([col,val])
    print(t)
    return res
per=input('Enter Percentile You Want Calculate:')
per_calc=calc_per(data,per)

Enter Percentile You Want Calculate:0.25
+------------------------------------------------+------------+
|                      Name                      | Percentile |
+------------------------------------------------+------------+
|            Number of times pregnant            |     1      |
|          Plasma glucose concentration          |     99     |
|        Diastolic blood pressure (mm Hg)        |     62     |
|        Triceps skinfold thickness (mm)         |     0      |
|         2-Hour serum insulin (mu U/ml)         |     0      |
| Body mass index (weight in kg/(height in m)^2) |    27.3    |
|           Diabetes pedigree function           |   0.244    |
|                  Age (years)                   |     24     |
|            Class variable (0 or 1)             |     0      |
+------------------------------------------------+------------+

Analyse for a single value in every column.

In [16]:
def analyze_values(data_cal,value):
    from prettytable import PrettyTable
    t = PrettyTable(['Name', 'Percentile'])
    datatype=['int16','int32','int64','float16','float32','float64']
    data_cal.dropna()
    data_cal= data_cal.select_dtypes(include=datatype)
    res=[]
    for col in data_cal:
        li=data_cal[col].tolist()
        val=li.count(value)
        t.add_row([col,val])
        res.append([col,val])
    print(t)
    return res
value=input('Enter Value You Want to analyze:')
per_calc=analyze_values(data,int(value))

Enter Value You Want to analyze:0
+------------------------------------------------+------------+
|                      Name                      | Percentile |
+------------------------------------------------+------------+
|            Number of times pregnant            |    111     |
|          Plasma glucose concentration          |     5      |
|        Diastolic blood pressure (mm Hg)        |     35     |
|        Triceps skinfold thickness (mm)         |    227     |
|         2-Hour serum insulin (mu U/ml)         |    374     |
| Body mass index (weight in kg/(height in m)^2) |     11     |
|           Diabetes pedigree function           |     0      |
|                  Age (years)                   |     0      |
|            Class variable (0 or 1)             |    500     |
+------------------------------------------------+------------+

Replace 0 with NaN values

In [17]:
data_nan = data.replace({0:np.nan})
data_nan.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31.0,NaN
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,NaN
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

Find the mode for every column

In [18]:
l=data_nan.mode(axis=0).values.tolist()
l=l[0]
print(l)

[1.0, 99.0, 70.0, 32.0, 105.0, 32.0, 0.254, 22.0, 1.0]

Replace the NA values with mode value of that column

In [19]:
data_mode_replace=pd.DataFrame()
def mode_replace(data_cal):
    datatype=['int16','int32','int64','float16','float32','float64']
    data_cal= data_cal.select_dtypes(include=datatype)
    i=0
    for col in data_cal:
        data_mode_replace[col]=data_cal[col].fillna(l[i])
        i=i+1
mode_replace(data_nan)
data_mode_replace.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6.0,148.0,72.0,35.0,105.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,105.0,26.6,0.351,31.0,1.0
2,8.0,183.0,64.0,32.0,105.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,1.0
4,1.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

Replace the NaN values with the mdeian values of the columns

In [20]:
data_median_filled=data_nan.fillna(data_nan.median())
data_median_filled.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6.0,148.0,72.0,35.0,125.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,125.0,26.6,0.351,31.0,1.0
2,8.0,183.0,64.0,29.0,125.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,1.0
4,4.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

Replace the NaN values with the mean values

In [23]:
data_mean_filled=data_nan.fillna(data_nan.mean())
data_mean_filled.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
13,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59.0,1.0
14,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,1.0
19,1.0,115.0,70.0,30.0,96.0,34.6,0.529,32.0,1.0

Drop the NaN values

In [22]:
data_nan.dropna(inplace = True) 
data_nan.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
13,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59.0,1.0
14,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,1.0
19,1.0,115.0,70.0,30.0,96.0,34.6,0.529,32.0,1.0